h1{
    background-color: rgb(134, 13, 182);
}

h2, h3{
    background-color: rgb(171, 88, 223);
}

body{
    background-color: rgba(244, 197, 242, 0.666);
}

p{
    background-color: rgb(188, 121, 250);
}

 h2 h3 h4  {
    background-color: rgb(159, 86, 227);
}

th
td{
    border: 10px solid rgb(190, 142, 229)

}

ul,ol{
    background-color: rgb(232, 116, 247);
}
nav{
    background-color: rgb(223, 172, 251);
}
    a{
        background-color:rgb(169, 109, 233) ;
    }

thead{
    border-bottom: 10px solid rgb(219, 133, 237);
    text-align: center;
    background-color: #fb5fee;
   
}
caption{
    background-color: rgb(168, 83, 247);
}
h3-p-class-secundario{
    color: blue;
}

