/*titulo principal*/

h1,h2,h4,nav{
    color:rgb(187, 52, 225);
    height: 35px;
    width:35%;
    margin:auto;
    text-align:center;
    line-height: 30px;
}
head{
    text-align: center;
    line-height: 30px;
}
/*texto*/
 h3,a{
    color: rgb(189, 96, 247);
}

body{
    background-color: rgba(249, 180, 246, 0.666);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/*texto*/
 h2 h3 h4  {
    color: rgb(159, 86, 227);
}
/*tabla*/
ul,ol{
    color: rgb(212, 36, 235);
}

caption{
    background-color: rgb(222, 111, 250);
}
thead{
    background-color: rgb(204, 163, 243);
}
/*pagina p*/
.container{
    display:inline-flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    margin-bottom:10px;
    border:3px solid rgb(215, 145, 235);
    padding:100px ;
    width:100%;
    text-align: center;
}
.meduim{
    order:0;
    flex:0 1 auto;
    align-self:auto;
    height:auto;
    width:33%;
    padding:10px;
    text-align: center;
}
@media screen and (max-width:768px){
    .container{
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        display:block
    }
  }   
  @media screen and (min-width:992px) {
    .container{
        width: 992px;
        margin-left: auto;
        margin-right: auto;
        display:block;
    }
  }     
  @media screen and (min-widdth:576px) {
    .container{
        width: 576px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
  }
    
    .meduim{
        width: 100%;
}